<div class="row no-gutters vh-100">
  <div class="col form-wrapper d-flex flex-column">
      <div class="row h-100">
          <div class="hero-background"></div>
          <div class="col-lg-8 offset-2 d-flex flex-column">
              <div class="top-text-small">
                  <div class="logo-text">
                    SOCIAL FEED
                  </div>
              </div>
              <app-add-entry [onClick]="addEntry"></app-add-entry>
              <mat-card class="social-feed-card mt-4">
                <mat-card-header>
                  <div mat-card-avatar class="social-feed-avatar">
                    <mat-icon>face</mat-icon>
                  </div>
                  <mat-card-title>Daniel Kmak</mat-card-title>
                  <mat-card-subtitle>2 hours ago</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Hello everyone in my Friends' Circle! I hope you're having fun here. Wish you all nice weekend!
                  </p>
                </mat-card-content>
              </mat-card>
          </div>
      </div>
  </div>
  <div class="col d-flex flex-column justify-content-center content-right">
      <div class="content-right-main">
          <div class="content-right-main__button">
              <i class="fa fa-user-circle" aria-hidden="true"></i>                
          </div>
          <p class="content-right-main__caption">FRIENDS' CIRCLE</p>
      </div>
  </div>
</div>